body{

	height:100%;
    background: url(../img/background.jpg) no-repeat;	
}
@font-face {
　　font-family:'CALIBRI';
　　src: url(../img/CALIBRI.TTF);
}
/*********************房间号***********************/
.top{
     padding-top: 25px;
	height:50px;
}
.room{
	width:146px;
	height:45px;
	margin-left: 57px;
	background: #cbeae3;	
}
.room-font{
	font-family: "微软雅黑";
	font-size: 30px;
	color: #8fd1c9;
	text-align: center;
}
/*********************房主选择歌曲***********************/
.select{
	height:50px;
	width:360px;
	margin-top: 20px;
	margin-left:970px;
	margin-top: -50px;
	padding-top: 10px;
	background: url(../img/play/select.png);
}
.select  span{
	height:30px;
	width:360px;
	margin-top: 10px;
	margin-left: 15px;
	line-height:24px;
	display:block;
	cursor:pointer;
	font-family: "黑体";
	font-size: 20px;
}
.select ul{
	width:300px;
	height:auto;
	background:#cbe9e4;
	border-radius: 1em;
	border:5px solid #FFFFFF;
	clear:both;
    margin-left: 8px;
	display:none;
	opacity: 0.9;
}
.select ul li{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #dfdfdf;
    list-style:none;
}
.select ul li b{
	font-weight:bold;
}

.show{
	display:block;
}
.select ul li a{
	color:#000;
	text-decoration:none;
	line-height:30px;
	padding:0 10px;
	font-family: "黑体";
	font-size: 20px;
}
.select ul li a:hover{
	color:#C7254E;
}

/*********************玩家***********************/

.userbox{
	display:inline-block;
	background:url(../img/play/user_bg.png);
	width: 256px;
	height:81px;
	margin-top:26px;
	margin-left: 46px;
	margin-right:13px;
	
}
.userpic{
	margin-left: 16px;
	margin-top: 5px;
	width:72px;
	height:72px;
	
}
.userdescribe{
	margin-left: 85px;
	margin-top: -65px;

	height:60px;
	
}
.userfont{
	font-family:"微软雅黑";
	font-size: 24px;
	color: #454547;
	text-align: center;
}
.userReady{
	width:12px;
	height:12px;
	margin-left: 225px;
	margin-top: -12px;
	background: url(../img/play/userWait.png);
}
.userWait{
	width:12px;
	height:12px;
	margin-left: 225px;
	margin-top: -12px;
	background: url(../img/play/userReady.png);
}
.middle{
	height:120px;
   width: 1330px;
}
/*********************控制背景音乐播放暂停***********************/
.controlStart{
	width:92px;
	height:92px;
	position: absolute;
    left:90px;
    top:320px;
	background: url(../img/play/start.png);
	cursor: pointer;
}
.end{
	width:182px;
	height:92px;
	position: absolute;
    left:40px;
    top:320px;
	display: none;
}
.fx{
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
	cursor: pointer;
}
.cb{
	display: inline-block;
	margin-top: 20px;
	margin-left: 60px;
	cursor: pointer;
	z-index: 2;
}
.controlPause{
	width:92px;
	height:92px;
	position: absolute;
    left:90px;
    top:320px;
	background: url(../img/play/finish.png);
	cursor: pointer;
}
/*********************控制摄像头开始结束***********************/
.start{
	width:204px;
	height:82px;
    margin-top: -300px;
	margin-left: 1100px;	
	background:url(../img/play/begin.png);
	cursor: pointer;
}
.stop{
	display:none;
	width:204px;
	height:82px;
    margin-top: -300px;
	margin-left: 1100px;	
	background: url(../img/play/ready.png);
	cursor: pointer;
}
/*********************手势识别的地方***********************/
.bottom-middle{
	width:926px;
	height:400px;
	margin-left: 180px;
	margin-top:39px;	
}
.shanshuo{
	position: absolute;
	left:500px;
	bottom:0px;
	display:none;
}

/* footer */
footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}
footer > div.copyright {
  width: 1000px;
  height: 30px;
  margin: 0 auto;
}
footer > div.copyright :nth-child(1) {
  margin-left: 2%;
}
footer > div.copyright :nth-child(2) {
  width: 10%;
  margin-left: 47%;
}
footer > div.copyright :nth-child(3) {
  width: 8.5%;
}
footer > div.copyright > p {
  color: #436686;
  font-family: 微软雅黑;
  width: 15%;
  display: inline-block;
}
footer > div.copyright > p > a {
  color: #436686;
  text-decoration: none;
}
footer > div.copyright > p > a:hover {
  color: #3B4B5A;
  text-decoration: none;
}